h1{
  text-align: center;
}
.s1{
  background-color: aqua;
}
.s2{
  background-image: url("https://images.pexels.com/photos/772650/pexels-photo-772650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}